input[type=text] {
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    font-size: 1.2rem;
    outline: none;
}

input::placeholder {
    color: #000; 
}